{% extends 'base.html' %}
{% load static %}

{% block maindapagina %}

<h3 style="font-size: 60px;">Bem vindo(a) à Livraria Maria's</h3>

    <div class="imagemlogo">
        <img src="static/imagenssite/livrariamariaslogopreta.png" alt="" width="500px">
    </div>
    <h3 style="font-size: 50px;">História do nosso site.</h3>
    <p class="Oi"><small>.</small></p>
    <h4>A nossa logomarca busca representar as escritoras, mulheres fortes e inspiradoras, que nos passam ensinamentos preciosos a cada escrita. A Livraria Maria's foi criada com o intuinto de levar até você, milhares de histórias e universos dinstintos, para que assim, você possa viver mil vidas.</h4> 
    <h4>Somos uma lojinha online de livros de todas as categorias, aqui você pode encontrar de tudo, romance, drama e até mistério. Com um clique, você leva para casa o mundo que você quiser.</h4>
    <p class="Oi"><small>.</small></p>
    <h3 style="font-size: 35px;">Aqui, deixo as frases mais belas que me inspiraram a seguir com esse desejo de ter minha própria livraria.</h3>
    <h4>"Mas confesso que a mim nada disso me encanta. Prefiro infinitamente um livro." Jane Austen.</h4>
    <h4 style="margin-bottom: 20px;">"Como é adorável passar a tarde assim! Garanto que não há nada mais divertido que ler! Tudo cansa, menos um livro! Quando tiver a minha própria casa, não serei feliz até ter uma excelente biblioteca!" Elizabeth Bennet - Orgulho e Preconceito (Jane Austen).</h4>
    
{% endblock %}