{% extends 'base.html' %}
{% load static %}

{% block maindapagina %}

<h1>Bem vindo(a) à Livraria Maria's</h1>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/imagenssite/bannersobrenosfoto.png" class="d-block w-100" alt="">
      </div>
    </div>
  </div>

  <h3 style="font-size: 60px;">Quem sou eu?</h3>
  <p class="Oi"><small>.</small></p>
  <h4>Eu me chamo Maria Salete, tenho 19 anos e moro na cidade de José da Penha no interior do Rio Grande do Norte. Estudo no Insituto Federal do Rio Grande do Norte, 
    no campos de Pau dos Ferros, e este site foi requerido como uma atividade bimestral da matéria técnica de Programação para Internet, orientada pelo professor Jeferson Queiroga.
  </h4> 
  <h4>Eu comecei a entrar no mundo da leitura muito nova, lembro que os primeiros livros que li foram gibis da Turma da Mônica 
  (meu tio sempre trazia no final do ano), depois de um tempo eu ganhei um livro infantil do Ziraldo - Menina Nina, duas razões para não chorar,
  esse livro me marcou muito, e foi atráves dele que entendi que cada livro nos proporciona algum ensinamento. Bom, com o tempo eu fui aprendendo a 
  gostar de outros livros, os sem imagens sabe? Mas gosto de lembrar de onde surgiu meu amor pela leitura.</h4>
  <h4>Eu tenho uma ENORME lista de livros que ainda quero ler, e a cada dia ela vai aumentando um pouco. Bom para finalizar, eu queria
  expor que comecei a me aventurar nesse mundo da escrita, nunca achei que pudesse escrever algo, mas numa atividade eu escrevi um conto e 
  muitas amigas gostaram bastante, dai em diante eu percebi que o mundo da literatura não é um bicho de sete cabeças, só precisamos escrever sobre
  nossos sentimentos e paixões.</h4>
  <p class="Oi"><small>.</small></p>
  <h3 style="font-size: 35px;">Agradeço por ter lido um pouco sobre mim, espero que volte para comprar algum livro.</h3>


{% endblock %}